<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{page.title}} | Josh Kayani</title>
	<meta name="keywords" content="Joshua Kayani, Josh Kayani, Kayani, kayani, josh kayani, jkayani">
	<meta name="description" content="The personal blog of aspiring web developer Josh Kayani">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/syntax.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/assets/images/icon.png" />
	{% if page.specials == 'latex' %}
	<script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
	{% endif %}
</head>
